@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.header {
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.video-box {
  background: #eee;
  padding: 30px;
  border: 2px solid #ddd;
  margin-top: 20px;
}

#localVideo, #remoteVideo {
  width: 360px;
  height: 300px;
}

